# Rename this file to .htaccess
# It will be invisible on Mac/Linux

# To rename in windows, you may have to open a text editor
# then Save File As ".htaccess"

RewriteEngine On
RewriteBase /bayrummedia

RewriteCond %{REQUEST_URI} ^system.*
RewriteRule ^(.*)$ /index.php?/$1 [L]

RewriteCond %{REQUEST_URI} ^application.*
RewriteRule ^(.*)$ /index.php?/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]